torch
torchvision
mlflow
gdown
dvc
notebook
numpy
matplotlib
seaborn
PyYAML
tqdm
python-box
ensure
joblib
types-PyYAML
streamlit
scikit-learn
# Am I using these below? 
scipy
pandas
# not using Tensorflow, using pytorch
# Flask
# Flask-Cors
-e . # setup.py code